<div class="d-flex align-items-center justify-content-center"
  *ngIf="isLoading">
  <div class="spinner-border text-primary"
    style="width: 3rem; height: 3rem;"
    role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="votacion animate__animated animate__fadeIn"
  *ngIf="!isLoading">
  <div class="row">

    <div class="codigo col-12 d-flex align-items-center justify-content-center mt-2 mb-2">
      <h5>Código: </h5>
      <span>
        {{ votacion?.codigo || '' }}
      </span>
    </div>

    <div class="participantes-container col-lg-4 col-md-5 col-sm-12 mb-5">
      <app-listado-participantes [participantes]="participantes"
        (agregarNuevo)="recibirNuevoParticipante($event)"
        (eliminar)="eliminarParticipante($event)"
        (voto)="recibirVoto($event)"></app-listado-participantes>
    </div>

    <div class="col-lg-8 col-md-7 col-sm-12 grafico">
      <grafico-barras-horizontal [datos]="datosGrafico"
        class="flex-grow-1"></grafico-barras-horizontal>

      <div class="finalizar">
        <button class="btn btn-outline-success btn-block my-5 w-100"
          type="button"
          (click)="finalizarVotacion()">
          Finalizar
        </button>
      </div>
    </div>

  </div>
</div>
