.home-container {
  height: auto;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 1fr auto;
}

.main-text {
  width: 100%;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.main-text p {
  font-family: var(--open-sans);
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  max-width: 500px;
}

.main-text a {
  margin-right: 2rem;
  border: 1px solid #000;
  color: #000;
}

.selector-container {
  grid-row: 2;
  grid-column: 1;
}

.codigo-input {
  width: 100%;
  max-width: 300px;
  /* margin-top: 1rem; */
}

.codigo-input label {
  font-weight: 700;
  font-size: 1.1rem;
}

.codigo-input input {
  text-align: center;
}

.selector {
  width: 100%;
  max-width: 350px;
}

.img {
  grid-column: 2;
  grid-row: 2;
  width: 500px;
  height: auto;
  margin: auto;
  user-select: none;
}

.img img {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}

h2 {
  font-family: var(--open-sans);
  font-size: 26px;
  font-weight: bold;
  margin: 1rem 0;
  width: 100%;
}

.wave-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0px;
  width: 100vw;
  height: 75vh;
  min-height: 500px;
  /* fallback for old browsers */
  background: #1c92d2;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
  text-align: center;
  overflow: hidden;
  z-index: -100;
}

svg {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave-img {
  position: inherit;
  height: 100%;
  top: 0;
  left: -20px;
  opacity: 0;
}

.wave-img img {
  height: 100%;
}

@media (max-width:1100px) {

  .wave-container {
    height: 35vh;
  }

}

@media (max-width:992px) {

  .wave-container {
    height: 50vh;
    min-height: 450px;
  }

  .main-text {
    justify-self: center;
    grid-column: span 2;
  }

}

@media (max-width:780px) {

  .wave-container {
    height: 40vh;
    min-height: 400px;
  }

  .home-container {
    display: block;
    /* grid-template-columns: 1fr; */
  }

  .main-text {
    grid-column: 1;
  }

  .main-text p {
    font-size: 1.7rem;
  }

  .img {
    display: none;
  }

  .img img {
    display: none;
  }

  .selector-container {
    justify-self: center;
    margin-top: 3rem;
  }

}

@media (max-width:475px) {

  .home-container {
    display: block;
  }

  .wave-container {
    height: 350px;
    min-height: 350px;
  }

  .main-text {
    max-width: 100%;
  }

  .main-text p {
    font-size: 1.4rem;
    /* margin-top: 1rem; */
  }

  .selector-container {
    display: block;
  }

  .selector-container h2 {
    font-size: 1.4rem;
    text-align: center;
  }

}
